.wrap {
  padding: 10px;
}

.side {
  display: inline-block;
  width: 45%;
}

.item {
  background: #ef4;
  box-shadow: 2px 2px 2px 0 black;
  cursor: pointer;
  padding: 10px;
}

.right.side .item {
  margin-left: 10px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.disabled {
  color: white;
  background: #dd7;
  cursor: default;
}

.selected {
  background: green;
  color: white;
}

