.wrap {
  padding: 10px;
}

.side {
  display: inline-block;
  width: 45%;
}

.item {
  background: #ef4;
  box-shadow: 2px 2px 2px 0 black;
  cursor: pointer;
  padding: 10px;
}

.right.side .item {
  margin-left: 10px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.disabled {
  color: white;
  background: #dd7;
  cursor: default;
}

.selected {
  background: green;
  color: white;
}

.pairs {
  padding: 0 10px;
  margin-bottom: 20px;
  display: table;
}

.pair {
  display: table-row;
}

.pair:nth-child(even) {
  background: #ffa;
  color: #b92;
}

.pair:nth-child(odd) {
  background: #b92;
  color: #ffa;
}

.pair span {
  display: table-cell;
  padding: 0 20px;
  text-align: center;
}

